html, body, #root{
-webkit-user-select: none;
-webkit-app-region: drag;
height: 100%; width: 100%;

margin: 0;  padding: 0;
border: none;
overflow: hidden;
}

::selection {
    background: rgba(77, 175, 255, 0.35) !important;
  }

button{
    transition: .1s;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.App{
    height: 100%; width: 100%;
    background-color: rgb(255, 255, 255);

    display: flex;
}

.Content{
    height: 100%; width: 100%;

    display: flex;
}