html, body, #root{
-webkit-user-select: none;
-webkit-app-region: drag;
height: 100%; width: 100%;

margin: 0;  padding: 0;
border: none;
overflow: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::selection {
    background: rgba(77, 175, 255, 0.35) !important;
  }

button{
    cursor: pointer;
    -webkit-app-region: no-drag;
}

button:disabled:hover{
    background-color: transparent;
    cursor: default;
}
button:disabled:active{
    background-color: transparent;
    cursor: default;
}

.App{
    height: 100%; width: 100%;
    background-color: rgb(255, 255, 255);

    display: flex;
}

.Content{
    height: 100%; width: 100%;

    display: flex;
}