.inbox{
    -webkit-app-region: no-drag !important;
    z-index: 20;
    height: 100vh;
    width: 100vw;

    position: absolute;
}

.div-inboxclose{
    height: 100vh; width: 100vw;
    position: absolute;
}

.div-inbox{
    min-width: 230px;
    background-color: white;
    top: 35px; right: 8px;

    padding: 4px; border-radius: 4px;
    box-shadow:
    0 0px 1px hsl(0deg 0% 0% / 0.06),
    0 1px 4px hsl(0deg 0% 0% / 0.06),
    0 2px 8px hsl(0deg 0% 0% / 0.06),
    0 4px 16px hsl(0deg 0% 0% / 0.06),
    0 16px 32px 10px hsl(0deg 0% 0% / 0.06);
    border: solid .5px rgba(0, 0, 0, 0.06);
    overflow: hidden;

    gap: 4px;
    display: flex; flex-direction: column;

    position: absolute;
    transition:.2s
}

.div-inboxRecentFiles{
    
    display: flex; flex-direction: row;
}

/* inbox appearance */

