/*Page*/

.page{
  -webkit-app-region: no-drag;
  height: 100%; width: 100%;
  display: flex;
}

.page-div{
  width: 100%; height: 100%;
  display: flex; flex-direction: column;
}

.page-header{
  z-index: 10;
  -webkit-app-region: drag;
  width: 100%; height: 30px;
  background-color: white;
  display: flex; flex-direction: row;
}

.page-headerleft{
  width: 50%; height: 30px;
  display: flex; flex-direction: row; align-items: center; gap: 4px;
}

.page-headerright{
  width: 50%; height: 30px;
  display: flex; flex-direction: row; align-items: center; justify-content: flex-end; gap: 4px;
}

.page-headerbtn{
  z-index: 15;
  height: 22px;
  background-color: transparent; color: rgba(0, 0, 0, .8);
  border: none; border-radius: 4px;
}.page-headerbtn:hover{
  background-color: rgba(0, 0, 0, 0.07);
}.page-headerbtn:active{
  background-color: rgba(0, 0, 0, 0.14)
}

/*Editor*/
.editor-center{
  width: 100vw; height: calc(100vh - 35px);
  display: flex; flex-direction: column;
}

.tiptap{
  margin-top: 5px;
  height: calc(100vh - 35px); width: calc(100vw - 150px); padding-left: 75px; padding-right: 75px;
  color: rgba(0, 0, 0, .8);
  overflow-y: scroll; outline: none;
}
.is-bold{
}
.is-strike{
}
.is-italic{
}

.is-underline{
  text-decoration: none;
  border-bottom: solid .5px rgba(0, 0, 0, 0.3);
}
.is-bulletlist{
  margin-top: 0;
  margin-bottom: 0;

}
.is-orderedlist{
  margin-top: 0;
  margin-bottom: 0;
}

/* node/block classes */

.divider-y{
  height: 100%; border: solid .5px rgba(0, 0, 0, 0.06);
}
.divider-x{
  width: 100%; border: solid .5px rgba(0, 0, 0, 0.06);
}

.extension-div{
  z-index: 5; position: absolute;
  width: fit-content;
  border: none;
  display: flex; flex-direction: row; align-items: center;   gap: 5px;
  transition: .2s;
}

.extension-btn{
  cursor: pointer;
  background-color: transparent; color: rgba(0, 0, 0, 0.3);
  border: none; border-radius: 4px; padding: 4px; margin-right: 2px;
}.extension-btn:hover{
  background-color: rgba(0, 0, 0, 0.07)
}.extension-btn:active{
  background-color: rgba(0, 0, 0, 0.14);
}

/* hovering div */

.hoverdiv{
  z-index: 10; position: absolute;
  width: calc(100vw); height: calc(100vh);
}

.hoverdiv-close{
  position: absolute; cursor: text;
  width:100%; height: 100%;
}

.hoverdiv-box{
  z-index: 1; -webkit-app-region: no-drag !important;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0px 1px hsl(0deg 0% 0% / 0.06), 0 2px 4px hsl(0deg 0% 0% / 0.06), 0 4px 8px hsl(0deg 0% 0% / 0.06), 0 8px 16px hsl(0deg 0% 0% / 0.06), 0 16px 32px 10px hsl(0deg 0% 0% / 0.06);
  display: flex; overflow: hidden; overflow-y: scroll;
  transition: .5s;
}

.hoverdiv-btn{
  height: 23px;
  color: rgba(0, 0, 0, .6);
  border-radius: 4px;
  background-color: transparent; border: none;
}.hoverdiv-btn:hover{
  background-color: rgba(0, 0, 0, 0.07)
}.hoverdiv-btn:active{
  background-color: rgba(0, 0, 0, 0.14)
}

/* hovering div (list and color) */
.hoverdiv-btn2{
  min-height: 25px; max-height: 25px;
  background-color: transparent;
  border: none; border-radius: 4px;
  display: flex; justify-content: flex-start; align-items: center;
}
.hoverdiv-btn2:hover{background-color: rgba(0, 0, 0, 0.07)}
.hoverdiv-btn2:active{background-color: rgba(0, 0, 0, 0.14)}

.hoverdiv-listp{
  width:14px; height:14px; 
  margin-left: 4px; margin-right: 8px;
  padding:2px; border-radius:4px; border: solid .5px rgba(0,0,0,.2);
}

.hoverdiv-colorp{
  width:17px; height:17px;
  margin-left: 4px; margin-right: 10px;
  padding:2px; border-radius:4px; border: solid .5px rgba(0,0,0,.2);
}

.colors{
  color: rgb(150, 150, 150), #969696;
  color: rgb(200, 80, 80), #c85050;
  color: rgb(125, 90, 70), #7d5a46;
  color: rgb(200, 120, 80), #c87850;
  color: rgb(90, 160, 80), #5aa050;
  color: rgb(60, 140, 200), #3c8cc8;
  color: rgb(90, 80, 200), #5a50c8;
  color: rgb(200, 80, 190), #c850be;

  background-color: rgb(240, 240, 240), #f0f0f0;
  background-color: rgb(210, 0, 0, .1), #d200001a;
  background-color: rgba(130, 90, 75, 0.1), #825a4b1a;
  background-color: rgb(255, 100, 0, .1), #ff64001a;
  background-color: rgb(0, 210, 0, .1), #00d2001a;
  background-color: rgb(0, 100, 210, 0.1), #0064d21a;
  background-color: rgb(120, 80, 210, 0.1), #7850d21a;
  background-color: rgb(210, 80 , 210, 0.1), #d250d21a;
}

/* change author/rename div */
.changediv{
  -webkit-app-region: no-drag !important;
  z-index: 20;   position: absolute;
  height: 100vh; width: 100vw;
}

.changediv-close{
  position: absolute;
  height: 100vh; width: 100vw;
}

.changediv-box{
  position: absolute;
  width: fit-content; height: 20px;
  background-color: white;
  top: 35px; left: 8px; padding: 4px; border-radius: 4px;
  box-shadow:0 0px 1px hsl(0deg 0% 0% / 0.06),0 1px 4px hsl(0deg 0% 0% / 0.06),0 2px 8px hsl(0deg 0% 0% / 0.06),0 4px 16px hsl(0deg 0% 0% / 0.06),0 16px 32px 10px hsl(0deg 0% 0% / 0.06);
  display: flex; flex-direction: row; overflow: hidden; align-items: center; gap: 5px;
  transition:.2s
}

.changediv-input{
  width: calc(100px);
  color: rgba(0, 0, 0, 0.4);
  border-radius: 4px; padding: 2px 4px 2px 4px;
  border: solid .5px rgba(0, 0, 0, 0.2);
}
.changediv-input::placeholder {color: rgba(0, 0, 0, 0.3);}

.changediv-submit{
  width: fit-content;
  background-color: rgba(77, 175, 255, 1); color: white;
  border: none; border-radius: 5px; padding: 2px 10px 2px 10px;
  transition: .5s;
}
.changediv-submit:hover{background-color: rgb(122, 195, 255);}